body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #333;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

.right-links {
    display: flex;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
    box-sizing: border-box;
}

.content {
    text-align: center;
}

#home {
    background-color: #f4f4f4;
}

#skills {
    background-color: #e2e2e2;
}

#projects {
    background-color: #cccccc;
}

#contact {
    background-color: #b4b4b4;
}